
/* * {
    outline: red dotted 2px;
  } */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    cursor: pointer;
}
/* Start of Header */

.header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: salmon;
    color: #fff;
    z-index: 1000;
}

.logo-container {
    width: 50px;
    height: 50px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company-name {
    /* background-color: #f0f0f0; */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.company-name-container {
    text-align: center;
}
.company-name1, .company-name2 {
    color: #f8f8f8;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-shadow: 
        1px 1px 2px #000, 
        0 0 25px #777, 
        0 0 5px #333;
}
.company-name1 {
    font-size: 1.25rem;
}
.company-name2 {
    margin-top: 5px;
    flex-grow: 1;
    text-align: center;
    font-size: 1.25em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: salmon;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(247, 159, 150);
}

/* End of Header */

/* Start of Sidebar */

.hamburger-menu {
    
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 0;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: pink;
    margin: 5px 0;
}

.sidebar {
    position: fixed;
    top: 70px; /* Adjusted to be below the header */
    left: 0; /* Hide sidebar by default */
    width: 200px;
    height: calc(100% - 50px); /* Adjusted to account for the header height */
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar.hidden {
    left: -240px; /* Sidebar is hidden */
}
.sidebar .menu {
    margin-top: 10%;
    padding: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar ul li {
    margin-bottom: 10px;
    width: 100%; 
}

.sidebar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 15px;
    outline: solid pink;
    border-radius: 30px;
}

.sidebar ul li a:hover {
    background-color: #555;
}

/* End of Sidebar */

/* Start of Settings */

.settings-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.settings-buttons button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
}

.settings-buttons button:hover {
    background-color: #45a049;
}

.content {
    /* outline: solid salmon; */
    margin-left: 250px;
    margin-right: 10px;
    text-align: left;
}
/* End of Settings */

/* start of dashboard */

.dashboardContainer {
    /* outline: solid salmon; */
    margin-left: 250px;
    margin-right: 10px;
    margin-top: 50px;
    text-align: left;
}
.dashboardMessage {
    font-family: Arial, Helvetica, sans-serif;
}
.dashboardContent {
    display: flex;
    height: 70vh; /* Full height of the viewport */
}
.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
    background-color: #e2baba;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tile1, .tile2 {
    flex: 1;
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tile1, .tile2  {
    margin: 5px;
    background-color: beige;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tile3 {
    margin: 5px;
    width: 50%;
    background-color: beige;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* end of dashboard */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        left: -100%;
        padding: 0px;
    }
    .sidebar.hidden {
        left: 0px; /* Sidebar is hidden */
    }
    .hamburger-menu {
        z-index: 1001;
    }
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.School
{
    position: relative;
	margin: 10px;
	overflow: hidden;
}
.School img
{
	width: 400px;
	height: 240px;
	object-fit: cover;
	transition: transform 0.3s ease;
    border:3px solid goldenrod;
    border-radius: 10px;
}
.School:hover img
{
    transform: scale(1.2);
}
.credsinfo
{
    position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.School:hover .credsinfo
{
    opacity: 1;
}