html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent whole page from scrolling */
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Prevent content from overflowing */
}

.scroll-container {
    max-height: 60vh; /* Set max height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
